body {
  margin: 20px;
  background-color: #FF6F00;
  text-align: center;
  font-size: 18pt;
}

h1 {
  color: #558B2F;
}

img {
  border-radius: 50%
}

.responsive {
  width: 100%;
  height: auto;
}

